body{
    margin-top: 50px!important;
  }
  .container{
    margin-top: 30px;
    width:50%!important;
    border:1px solid grey;
    padding:20px 20px!important;
    background-color: white;
    box-shadow: 2px 2px 4px black;
  }
  
  #logout{
    float: right;
    right:25px;
    position: absolute;
    width:130px;
  }
  
  table{
    width:100%;
    text-align: center;
    font-size: 1.1rem;
  }
  
  input{
    width:100%;
  }
  
  td{
    padding:6px 10px;
  }
  
  td:nth-child(odd){
    text-align: left;
  }
  
  .card{
    width:320px!important;
    margin-top: 50px;
  }
  
  .card a{
    width:50%;
  }
  
  .card img{
    height:320px;
    width:100%;
  }
  
  #p_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    font-size: 14px;
  }
  
  .card input{
    width:50%;
    overflow: hidden;
  }
  
  .card div{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:4px auto;
  }